<html>
  <head>
    <title>$i18n.getText("com.atex.confluence.plugin.confluence-nexus-plugin.nplugin-meta.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("com.atex.confluence.plugin.confluence-nexus-plugin:resources")
  </head>
  <body>
  <div>
    #if($success && $success == 'success')<span class="success" style="font-size: 1.2em;">$i18n.getText("nplugin-meta.admin.success")</span>#end
    <form id="admin" class="aui" method="POST">
      <div>
        <label for="url">$i18n.getText("nplugin-meta.admin.url")</label><br />
        <input type="text" id="url" name="url" class="text" value="$!configuration.urlString" />
        #if($urlString && $urlString == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.urlString")</span>#end
      </div>
      <div>
        <label for="username">$i18n.getText("nplugin-meta.admin.username")</label><br />
        <input type="text" id="username" name="username" class="text" value="$!configuration.username" >
        #if($username && $username == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.username")</span>#end
      </div>
      <div>
        <label for="password">$i18n.getText("nplugin-meta.admin.password")</label><br />
        <input type="password" id="password" name="password" class="text" />
        #if($password && $password == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.password")</span>#end
      </div>
      <div>
        <label for="groupId">$i18n.getText("nplugin-meta.admin.groupId")</label><br />
        <input type="text" id="groupId" name="groupId" class="text" value="$!configuration.groupId" >
        #if($groupId && $groupId == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.groupId")</span>#end
      </div>
      <div>
        <label for="nexus3">$i18n.getText("nplugin-meta.admin.nexus3")</label><br />
        <input type="checkbox" id="nexus3" name="nexus3" value="true" #if($configuration.nexus3)checked="checked"#end />
      </div>
      <div>
        <label for="generateSiteLink">$i18n.getText("nplugin-meta.admin.generateLink")</label><br />
        <input type="checkbox" id="generateLink" name="generateLink" value="true" #if($configuration.generateLink)checked="checked"#end />
        <div>
          <label for="nexusLinkPrefix">$i18n.getText("nplugin-meta.admin.nexusLinkPrefix")</label><br />
          <input type="text" id="nexusLinkPrefix" name="nexusLinkPrefix" class="text" value="$!configuration.nexusLinkPrefix" >
          #if($nexusLinkPrefix && $nexusLinkPrefix == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.nexusLinkPrefix")</span>#end
        </div>
        <div style="font-size: 0.9em">
          <span>You must install</span><a href="https://github.com/polopoly/nexus-jar-reader-plugin" target="_blank"> this </a><span> Nexus Plugin</span>
        </div>
      </div>
      <div>
        <input type="submit" value="$i18n.getText("nplugin-meta.admin.save")" class="button">
      </div>
    </form>
    </div>
  </body>
</html>