<html>
  <head>
    <title>$i18n.getText("com.atex.confluence.plugin.confluence-nexus-plugin.nplugin-meta.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("com.atex.confluence.plugin.confluence-nexus-plugin:resources")
  </head>
  <body>
  <div>
    #if($success && $success == 'success')<span class="success" style="font-size: 1.2em;">$i18n.getText("nplugin-meta.admin.success")</span>#end
    <form id="admin" class="aui" method="POST">
      <div>
        <label for="url">$i18n.getText("nplugin-meta.admin.url")</label><br />
        <input type="text" id="url" name="url" class="text" value="$!configuration.urlString" />
        #if($urlString && $urlString == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.urlString")</span>#end
      </div>
      <div>
        <label for="username">$i18n.getText("nplugin-meta.admin.username")</label><br />
        <input type="text" id="username" name="username" class="text" value="$!configuration.username" >
        #if($username && $username == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.username")</span>#end
      </div>
      <div>
        <label for="password">$i18n.getText("nplugin-meta.admin.password")</label><br />
        <input type="password" id="password" name="password" class="text" />
        #if($password && $password == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.password")</span>#end
      </div>
      <div>
        <label for="groupId">$i18n.getText("nplugin-meta.admin.groupId")</label><br />
        <input type="text" id="groupId" name="groupId" class="text" value="$!configuration.groupId" >
        #if($groupId && $groupId == 'error')<span class="error">$i18n.getText("nplugin-meta.admin.error.groupId")</span>#end
      </div>
      <div>
        <input type="submit" value="$i18n.getText("nplugin-meta.admin.save")" class="button">
      </div>
    </form>
    </div>
  </body>
</html>